body {
    background: linear-gradient(to right, rgb(108, 159, 200), rgb(88, 197, 137));
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}